<!doctype html>
<html lang="en" ng-app="GaleriPonselApp" ng-controller="DaftarPonselController">
<head>
  <meta charset="utf-8">

  <!-- bisa gunakan ini...
  <title ng-if="query">{{'cari :'+ query + ' - '}} Galeri ponsel-ponsel </title>
  <title ng-if="!query">Galeri ponsel-ponsel </title>
  -->
  <!-- atau ini -->
  <title ng-bind-template="{{ 'Cari :'+ query }} Galeri ponsel-ponsel">Galeri ponsel-ponsel</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>

<body>

<h1>{{Title}}{**.Caption**}</h1>
<p>Jumlah Total Ponsel : {{DaftarPonsel.length}}</p>


	<div class="col-md-2">
	<!--Sidebar content-->

		Search: <input ng-model="query">

	</div>
	
	<div class="col-md-10">
	<!--Body content-->
	
		<ul class="phones">
			<!-- NOTE: Angular.js otomatis memfilter data phone, smua atribut phone.nama dan phone keterangan difilter langsung-->
			<li ng-repeat="ponsel in DaftarPonsel | filter:query">
			  {{ponsel.nama}}
			  <p>{{ponsel.keterangan}}</p>
			</li>
		</ul>

	</div>

</body>

</html>